*{color:#ffffff!important;text-shadow:0 0 3px #000000!important}
td::before,th{color:#ffdf80!important;font-weight:700!important}
body,table,tr,td{background:#08142b!important;border-color:#d4af3740!important}
